:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --white: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --card-set-gap: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  font-family: inherit;
  color: var(--white);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px transparent;
  padding: 10px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.section-title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 450px;
  min-height: 609px;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}

.modal-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close {
  color: var(--secondary-text-color);
}

.modal-close:focus .modal-icon,
.modal-close:hover .modal-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}

.modal-title {
  font-weight: Bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form-field {
  margin-bottom: 10px;
}

.form-field-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input::placeholder {
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-text {
  font-style: regular;
  font-size: 12px;
  line-height: 1.166;
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text:focus {
  border-color: var(--accent-color);
}

.form-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.modal-button {
  font-family: inherit;
  color: var(--white);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.15);
  border: 1px transparent;
  padding: 10px 55px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.check-text {
  font-style: Regular;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  display: flex;
  align-items: baseline;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8.38px;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.policy-link {
  color: var(--accent-color);
}

.header {
  margin-bottom: 0px;
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-adress {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-adress {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header-adress {
    margin-left: auto;
  }
}

.header-adress .adress-link.current {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-address__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-address-box {
  display: flex;
  align-items: center;
}

.header-address__icon {
  margin-right: 10px;
}

.header-address__item {
  display: flex;
  color: var(--secondary-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address__item:focus, .header-address__item:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-address__icon {
  fill: currentColor;
}

.logo-accent {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-accent {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
  margin-left: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    display: block;
    margin-right: 88px;
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 0px;
  }
}

.site-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:focus, .site-nav .link:hover {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav.list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav.list {
    display: none;
  }
}

.link-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link-item {
    font-style: Medium;
    font-size: 14px;
    line-height: 1.14;
  }
}

.link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.open-btn {
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .open-btn {
    display: none;
  }
}

.open-btn:hover .open-btn__icon,
.open-btn:focus .open-btn__icon {
  fill: var(--accent-color);
}

.open-btn__icon {
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close__btn {
  display: block;
  margin-left: auto;
  margin-bottom: 8.33px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close__btn:focus .close-btn__icon,
.menu-close__btn:hover .close-btn__icon {
  fill: var(--accent-color);
}

.close-btn__icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: Left;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.mob-menu__link:focus, .mob-menu__link:hover {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  text-align: Left;
  color: #2196f3;
  display: block;
  margin-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.mob-connect__tel:focus, .mob-connect__tel:hover {
  color: var(--accent-color);
}

.mob-connect__mail {
  font-size: 24px;
  line-height: 1.166;
  text-align: Left;
  color: #757575;
  display: block;
  margin-bottom: 64px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.mob-connect__mail:focus, .mob-connect__mail:hover {
  color: var(--accent-color);
}

.mobile-social__list {
  display: flex;
  flex-direction: row;
  padding-right: -10px;
}

.mobile-social__link {
  font-style: Medium;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.mobile-social__link:focus, .mobile-social__link:hover {
  color: var(--accent-color);
}

.mobile-social__item {
  padding-right: 10px;
  padding-left: 10px;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  background: var(--secondary-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Hero_mob_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_tab_1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Hero_tab_2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Hero_desk_2x.jpg);
  }
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  color: var(--white);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.section.about {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .section.about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section.about {
    padding-bottom: 94px;
  }
}

.about .section-title {
  margin-bottom: 50px;
  padding-bottom: 0px;
}

.about .about__list {
  display: flex;
  justify-content: space-between;
}

.about__image {
  position: relative;
}

.about-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.about__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white);
}

.features {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features .feature__discription {
  color: var(--secondary-text-color);
}

.feature__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature__title {
    line-height: 1.14;
    text-align: left;
  }
}

.features .feature__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0px;
}

.feature__list {
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.feature__item {
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.feature__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  height: 120px;
  margin-bottom: 30px;
}

.team {
  background-color: var(--third-background-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team-card__role {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.name__role {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__card {
  flex-basis: calc(100% / 2 - 30px);
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__card {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-social__list {
  display: flex;
  justify-content: center;
}

.team-social__link {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.team-social__icon {
  fill: currentColor;
}

.team-social__item + .team-social__item {
  margin-left: 10px;
}

.clients {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clents-section__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clents-section__title {
    margin-bottom: 50px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
  }
}

.clients__item {
  margin: 15px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.footer {
  background: var(--secondary-background-color);
  padding-bottom: 60px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer .link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover, .footer .link:focus {
  color: var(--white);
}

.footer .logo {
  color: var(--white);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer .logo-accent {
  color: var(--accent-color);
}

.footer-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--white);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    text-align: left;
  }
}

.footer-list__item {
  margin-bottom: 9px;
}

.footer-email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.footer-social-list__title {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-social-list__title {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer-social-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-list {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
}

.social-icon-wrap {
  display: flex;
}

@media screen and (max-width: 767px) {
  .social-icon-wrap {
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .social-icon-wrap {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tab__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 76px;
    margin-right: 89px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tab__wrap {
    display: flex;
    align-items: baseline;
  }
}

.footer-social-list__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.player-social-icon {
  fill: currentColor;
}

.footer-social-list__item + .footer-social-list__item {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199) {
  .footer-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-field {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

.footer-field__input {
  width: 100%;
  height: 50px;
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  color: var(--white);
  font-size: 16px;
  line-height: 1.25;
}

.footer-field__input::placeholder {
  font-family: Roboto;
  font-style: Regular;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer-field__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-field__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-field__input {
    width: 358px;
  }
}

.footer-field__title {
  font-weight: Bold;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-field__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-field__wrap {
    display: flex;
  }
}

.footer-field__button {
  font-family: inherit;
  color: var(--white);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.15);
  border: 1px transparent;
  padding: 10px 29px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer-field__button {
    margin: 0 auto;
  }
}

.footer-field__icon {
  margin-left: 10px;
}

.filter {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--third-background-color);
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px transparent;
  cursor: pointer;
  margin-bottom: 15px;
}

.filter + .filter {
  margin-left: 8px;
}

.filter.current {
  background-color: var(--accent-color);
  color: var(--white);
}

.filter {
  margin-left: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover, .filter:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-list {
  margin-bottom: -15px;
  margin-bottom: 40px;
}

@media screen and (min-width: 480px) {
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.portfolio {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.portfolio-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-short {
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.portfolio-li {
  display: flex;
  flex-basis: calc(100% / 9 -30px);
  margin-bottom: var(--card-set-gap);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover, .portfolio-li:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-li:hover .portfolio-img-text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-li {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-li {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio-short {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  padding-left: 24px;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .portfolio-short__bigger {
    display: flex;
    flex-grow: 1;
  }
}

.portfolio-link-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  font-style: Regular;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  letter-spacing: 3%;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */