@import "./utils/vars";
@import "./base/reset";
@import "./base/common";
@import "./utils/hidden";

//COMPONENTS
@import "./components/container";
@import "./components/btn";
@import "./components/section-title";
@import "./components/modal";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/features";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio";
