.features {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features .feature__discription {
  color: var(--secondary-text-color);
}

.feature__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    line-height: 1.14;
    text-align: left;
  }
}

.features .feature__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0px;
}

.feature__list {
  // display: flex;
  // flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.feature__item {
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.feature__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  height: 120px;
  margin-bottom: 30px;
}
