.header {
  margin-bottom: 0px;
  max-width: 1600px;
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

// .header-adress .adress-link:hover,
// .header-adress .adress-link:focus {
//   color: var(--accent-color);
// }

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress {
  display: flex;
  margin-left: 305px;
}

.header-adress .adress-link.current {
  color: var(--accent-color);
}

.header-address__item:not(:last-child) {
  margin-right: 30px;
}

.header-address-box {
  display: flex;
  align-items: center;
}

.header-address__icon {
  margin-right: 10px;
}

.header-address__item {
  display: flex;
  color: var(--secondary-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.header-address__icon {
  fill: currentColor;
}

.logo-accent {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.site-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0;
}

.site-nav .link {
  color: var(--primary-text-color);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav.list {
  display: flex;
}

.link-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  position: relative;
}
.link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}
