.filter {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--third-background-color);
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px transparent;
  cursor: pointer;
}

.filter {
  & + & {
     margin-left: 8px;
  }
 
}

.filter.current {
  background-color: var(--accent-color);
  color: var(--white);
}

.filter {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.portfolio-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-filter {
  margin-bottom: 50px;
  margin-left: -8px;
}

.portfolio-short {
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-bottom: -30px;
}

.portfolio-li {
  flex-basis: calc(100% / 9 -30px);
  margin-left: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  &:hover .portfolio-img-text {
    transform: translateY(0%);
  }
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-left: -8px;
}

.filter {
  margin-left: 8px;
}

.portfolio-short {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  padding-left: 24px;
}

.portfolio-link-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  font-style: Regular;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  letter-spacing: 3%;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
