:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --white: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --card-set-gap: 30px;
}
